body{
    background-color:darkblue;
    color: lightblue;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
#tittle{
  background-color:lightblue; 
  color: white;
  width: 500px;
  border-radius: 5px;
}
#snapshot{
    width: 310px;
    border-style: solid;
    border-width: thick;
    height: 300px;
    border-color: lightblue;
}
#camera{
    width: 310px;
    border-style: solid;
    border-width: thick;
    height: 300px;
    border-color: lightblue;
}